<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
     <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include("../partial/navbar") %>
    <h1 id="allrest">All Resturaunts</h1>
     <% for(let oneResturant of allResturants){ %>

          <a href="/resturaunts/<%=oneResturant.id%>">This is  <%= oneResturant.name %> </a>
          
       <% if(!oneResturant.isOpen){%>
        <p> - Closed</p>
    <%}%><br>
         <% } %>

        
          

    
       

  </body>
</html>
