<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include("../partial/navbar") %>
    <h1 id="welcome">Welcome to the Resturent</h1>
    <p id="info">
      this is an app to compare Restaurants in Bahrain , menues , price and will
      give you location.
    </p>
    <a href="/resturaunts/">See Our Restaurants</a>
  </body>
</html>
