body {
  background-color: beige;
}
#welcome {
  font-weight: bold;
  text-align: center;
  font-size: 100px;
}
#info {
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}
#det {
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}
